#imgCol4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  & > * {
    flex-basis: 50%;
    max-width: 450px;
  }
}
#imgCol2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  & > * {
    flex-basis: 50%;
    max-width: 450px;
  }
}